body{
    text-align: center;
}
.main-content{
    height: 80vh;
}

input, select{
    margin: 20px;
}

p{
    display: inline;
}

.form-label{
    font-weight: bold;
}

.invisible{
    visibility: hidden;
}

.completed{
    text-decoration: line-through;
}

.high{
    color: red;
}
.medium{
    color: green;
}
.low{
    color: blue;
}
