body{
    text-align: center;
    background-color: #91ec76;
    color: #525FE1;
}
.main-content{
    height: 70vh;
    width: 50vw;
    margin: auto;
    border: 2px solid #525FE1;
    overflow-y: auto;
}

input, select{
    margin: 20px;
}

h1{
    text-decoration: underline;
}


p{
    display: inline;
}
.nav-link{
    
    font-weight: bold;
}
.form-label{
    font-weight: bold;
}

.invisible{
    visibility: hidden;
}

.completed{
    text-decoration: line-through;
}

.high{
    color: red;
}
.medium{
    color: green;
}
.low{
    color: blue;
}
