<%- include("partials/header.ejs") %>

<h1>Add a Task</h1>
<div class="main-content">
<form action="/submit" method="POST">
    <label class="form-label">Task Type: </label>
    <select id="task-type" name="task-type">
        <option value="daily", selected="selected">daily</option>
        <option value="work">work</option>
    </select><br>

    <label class="form-label">Task Description: </label>
    <input type="text" name="task-description" id="task-description"><br>
    
    <div class = "priority invisible">
        <label class="form-label">Priority: </label>
        <input type="radio" id="high" name="task-priority" value="high">
        <label>High</label>
        <input type="radio" id="medium" name="task-priority" value="medium" checked="checked">
        <label>Medium</label>
        <input type="radio" id="low" name="task-priority" value="low">
        <label>Low</label><br>
    </div>

    <div class="date">
        <label class="form-label">Date: </label>
        <input type="date" name="task-date" value=<%=today%>><br>
    </div>

    <input type="submit" value="Create Task">
</form>
<%- include("partials/footer.ejs")%>