body{
    margin:0;
}
/**************************** Display Properties *****************************/
p{
    width:100px;
    background-color:red;
    display: inline-block;
}
span{
    background-color:green;
}
.second_p{
   /* display: none; - gets rid of element from website*/
    visibility: hidden; /* hides element, leaves the space where it was on the website */
}

/**************************** Static & Relative Positioning *****************************/

.red{
    height: 100px;
    width: 100px;
    background-color: red;
    display:inline-block;
    position:relative;
    left:200px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position:relative;
    right: 100px;
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position:relative;
    right: 100px;
}

/**************************** Absolute Positioning *****************************/

.container{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: grey;
}
.abs_red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    right:0;

}
.abs_blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top:0;
    left: 100px;
}
.fxd_yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: fixed;
    top:0;
}