/****************************TAG Selectors *****************************/
/* TAG selectors apply to all instances of the tags unless they are overridden by a class or id selector*/
*{ /** Selects Everything **/
    text-align: center;
}
body{
    background-color: Turquoise;
    font-family: 'Oswald', sans-serif;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: Aquamarine;
    border-width: 5px;
    width: 5%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Press Start 2P', cursive;
}
.headings h1:hover, .headings h2:hover {
    color: gold;
}
li{
    list-style-position: inside; /** Makes Bullets/ Numbers follow text rather than staying to the left of the page**/
}

/****************************CLASS Selectors *****************************/
.logo{
    display: block;
    margin: 0 auto;
    width: 50%;
}








/****************************ID Selectors *****************************/
/* IDs must be unique, you can only have one instance of an ID on each page */

#title{
    text-align: center;
    text-decoration: underline;
    font-family: 'Great Vibes', cursive;
}


