*{
    text-align: center;
}
h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    text-decoration:underline
}
p{
    font-family: 'Roboto Slab', serif;
}

li{
    list-style-position: inside; /** Makes Bullets/ Numbers follow text rather than staying to the left of the page**/
}
#navbar{
    background-color: #B0DAFF;
    color: #19A7CE;
    position: sticky; 
    top:0;
    width: 100%;
    
}



.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B0DAFF;
}
.flex-container img{
    float:left;
    height: 100px;
    border-radius: 50%;
}
.text{
    margin-left:20px;
}
#introduction{
    background-color:  #19A7CE;
    
    height: 500px;
    padding: 20px;
}

#work-experience{
    
    background-color: #146C94;
    padding: 20px;
}

th, td {
    border-style: dashed!important;
    border-width: 2px !important;
    border-color: black !important;
}

#past-projects{
    background-color:  #19A7CE;
    height: 500px;
    padding: 20px;
}

#about-me{
    background-color: #146C94;
    height: 500px;
    padding: 20px;
}

#contact-me{
    background-color:  #19A7CE;
    height: 500px;
    padding: 20px;
}
