#navbar{
    background-color: white;
    position:fixed;
    top:0;
    width: 100%;
    
}
#introduction{
    background-color: red;
    height: 500px;
}

#resume{
    background-color: blue;
    height: 500px;
}

#past-projects{
    background-color: green;
    height: 500px;
}

#about-me{
    background-color: yellow;
    height: 500px;
}

#contact-me{
    background-color: orange;
    height: 500px;
}
