body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;

}


/**    My Code  **/

.creative{
  color: midnightblue;
}
.card{
  display: inline-block;
}
@media (min-width: 671px) {
/* CSS for screens above 700px wide */
.card {
  
  width: 40%;
}

.tile-image{
  height:200px;
  margin-right: 50px;
  float:left;
}

.left{
  float: left;
}

.right{
  float:right;
}

}

@media (max-width: 670px) {
  /* CSS for screens below or equal to 700px wide */
  .logo{
    height: 18px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card{
    width: 100%
  }
  .tile-image{
    width:100%;
    height:200px;
  }
}
