/* Write your code here: */
h1, h2{ /* Combining Selectors */
    color: blueviolet;
}

.box > .done{ /* Child Selector, only selects direct child */
    color: firebrick;
}

.box li{/* Descendent Selector, selects all of the li inside of the box class*/
    color:blue;
}

li.done{/* Chain Selector, selects all of the li with "done" class*/
    color:seagreen;
}

ul p.done{/* Combining Selectors*/
    font-size: 0.5rem
}